.global{
    background-color: #000c00;
    color: white;
    overflow: scroll;
}

.global::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    color: #ffffff;
    background-color: #000c00;
    top: 0;
    font-family: 'Courier New', monospace;
    text-align: center;
    height: 10vh;
}
.body {
    font-family: Arial, sans-serif;
    background-color: #000c00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-container {
    width: 80%;
    max-width: 1000px;
    background-color: #02000f;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#output {
    height: 400px;
    overflow-y: auto;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #2e2e2e;
}
#input-container {
    display: flex;
}
#command-input {
    flex: 1;
    padding: 5px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
}
#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #77005d;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
#send-button:hover {
    background-color: #480069;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #008c91
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(73, 73, 73, 0.534);
}

.popup-content {
    background-color: rgba(73, 73, 73, 0.534);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    flex: 1 1 calc(33% - 20px);
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer h1, h2, h3 {
    text-align: center;
}

.footer li {
    text-align: left;
    padding: 5px;
    padding-left: 10%;
}